.image-zoom-wrap {
    position: relative;

}

.image-zoom-wrap .image-zoom-enlarge,
.image-zoom-wrap .image-zoom-narrow {
    /*background: url(zoom.png) no-repeat;*/
    background: url(https://github.com/neekey/jquery-imageZoom/raw/master/zoom.png) no-repeat;
    width: 32px;
    display: block;
    height: 32px;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=0.5);
    cursor: pointer;
}

.image-zoom-wrap .image-zoom-enlarge:hover,
.image-zoom-wrap .image-zoom-narrow:hover {
    opacity: 1;
    filter: alpha(opacity=1);
}

.image-zoom-wrap .image-zoom-narrow {
    background-position: -33px 0;
}

.image-zoom-wrap .image-zoom-target {
    position: absolute;
    top: 0;
    left: 0;
}

.image-zoom-wrap .loading {
    /*background: url(loading.gif) 50% 50% no-repeat;*/
    background: url(https://github.com/neekey/jquery-imageZoom/raw/master/loading.gif) 50% 50% no-repeat;

}

